html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 200%;
    color: #8cd9bf;
    text-align: center;
}

h2 {
    font-size: 150%;
    color: #8cd9bf;
}

p,ul,li,td {
    color: black;
}

a:link {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: gray;
}

a:hover {
    color: #8cd9bf;
    text-decoration: none;
}

a:active, a:focus {
    color: #8cd9bf;
}

header {
    background-color: darkslategray;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 50%;
    height: auto;
}

.button {
  background-color: #8cd9bf;
  border: none;
  border-radius: 15px;
  color: black;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1em;
  margin-left: 45%;
  box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #5d9b9b;
}

.button:active {
  background-color: #5d9b9b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.submit {
    display: inline-block;
    padding: 15px 25px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: #8cd9bf;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position:relative;
    top:45%;
    left:45%;
    float: left;
}

.submit:hover {
    background-color: #5d9b9b;
}

.submit:active {
  background-color: #5d9b9b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type=date] {
    font-family: Verdana, sans-serif;
    text-align: center;
}

.btn-emoji {
    margin: 0px;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid darkgray;
    box-shadow: 1px 4px 2px grey;
    align: center
}

.btn-emoji:hover {
    background-color: #ddd;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

button,
input[type="file"],
input[type="button"],
input[type="submit"]{
    cursor:pointer;
}

.fa-trash {
    color: rgb(200,0,0);
}

.fa-plus {
    color: rgb(0,200,0);
}

.fa-pencil {
    color: rgb(10,100,255);
}

.fa-camera {
    color: black;
}
