form {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
  max-width: 1000px;
}

fieldset {
    border-radius: 1em;
    border: 2px solid #8cd9bf;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend {
    width: 100%;
    text-align: center;
    background-color: #8cd9bf;
    border: 2px solid #8cd9bf;
    border-radius: 1em;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 2px;
    margin-bottom: 15px;
}

label {
    display:inline-block;
    margin-bottom: 20px;
    margin-left: 8%;
    padding: 5px;
    width: 30%;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    border-right: 5px solid #8cd9bf;
    border-bottom: 1px solid #8cd9bf;
    border-radius: 5px;
}

input[type=text],
input[type=date],
input[type=checkbox],
textarea,
select
{
    margin-left: 10px;
    border: none;
    width: 50%;
    outline: none;
    font-size: 20px;
    color: #434343;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px;
    -webkit-transition: background-color 0.3s ease-out;
}

textarea{
    overflow: hidden;
    overflow-y: scroll;
    resize:none;
    font-size: 15px;
}

textarea:focus,
input[type=text]:focus,
input[type=date]:focus,
select:focus
{
    background: #8cd9bf;
    color: black;
}

#add_cancel {
    background-color: lightsalmon;
}

#edit_cancel {
    background-color: lightsalmon;
}

.cancel {
    float: right;
    margin-right: 20%;
}

.validate {
    margin-right: 80%;
}
