<link href="{{ url_for('static', filename='table.css') }}" rel="stylesheet" type="text/css" />

{% include 'header.html' %}

<title>Soins</title>

<h1>Liste des soins</h1>

<p>
  <table id="table" class="editable">

    <tr><th>Type</th><th>Dose</th><th>Administration</th>
      <th>Nom du médicament</th><th>Description</th></tr>

    {% for care in cares %}
    <tr>
      <td style="display:none;">{{ care.id }}</td>
      <td contenteditable="true">{{ care.type }}</td>
      <td contenteditable="true">{{ care.dose }}</td>
      <td contenteditable="true">{{ care.way }}</td>
      <td contenteditable="true">{{ care.medecine_name }}</td>
      <td contenteditable="true">{{ care.description }}</td>
      <td>
	<form id="form_del_care" action="/cares" method="post">
	  <input type="hidden" id="id_del_care" name="id_del_care" value="None"/>
	  <button id="del_care" type="submit">
	    <i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>

</p>

<script>
  $('#table').on('click', '#del_care', function () {
      if ( confirm("Etes-vous sûr de vouloir supprimer cette ligne?") == true ) {
	  $(this).parents('tr').detach();
	  id_to_del = $(this).parents('tr').find('td:first').text();
	  document.getElementById("id_del_care").setAttribute('value', id_to_del);
	  document.getElementById("form_del_care").submit();
      }
  });
</script>
