{% include 'header.html' %}

<link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='modal.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='carousel.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<style>
table, th, td {
  border: 1px solid black;
}
</style>

<!-- Edit Modal -->
<div id="image_modal" class="modal">
  <div class="modal-content">
    <form class="form-style" action="/{{species}}/{{animal.id}}" method="post" enctype="multipart/form-data">
      <fieldset>
	<legend>Photos de {{ animal.name }}</legend>
	<input type="hidden" id="pictures" name="pictures" value="None">
	<input type="hidden" id="name" name="name" value="{{animal.name}}">
	<table class="images" align="center">
	  {% for pic in animal.pictures %}
	  <tr>
	    <td style="display:none;">{{ animal.id }}</td>
	    <td id="td-url">
	      <img class="img" src="{{ url_for('static', filename=pic) }}"></td>
	    <td id="td-del">
	      <button id="del_btn" class="btn-modal" type="button" onclick="del_image(this)" value="{{pic}}">
		<i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
	<br>
	<input type="file" id="img" name="img" multiple accept="image/*">
	<div class="validate">
	  <button class="submit" type="submit" onclick="update_images(this)">Valider</button>
	</div>
	<div class="cancel">
	  <button class="submit" type="button" id="cancel">Annuler</button>
	</div>
      </fieldset>
    </form>
  </div>
</div>

<title>{{ species }} - {{ animal.name }}</title>
<h1>{{ animal.name }}</h1>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    {% if animal.pictures|length > 1%}
    {% for i in range(animal.pictures | length) %}
    <li data-target="#carouselExampleIndicators" data-slide-to=i
	{% if i == 0 %} class="active" {% endif %}></li>
    {% endfor %}
    {% endif %}
  </ol>
  <div class="carousel-inner">
    {% if animal.pictures|length %}
    {% for pic in animal.pictures %}
    <div {% if animal.pictures.index(pic) == 0 %} class="carousel-item active"
	 {% else %} class="carousel-item" {% endif %}>
      <img id="photo{{ animal.id }}" class="d-block w-100" \
	   src="{{ url_for('static', filename=pic) }}" alt="{{ species }} image" onerror="backup_{{species}}()">
    </div>
    {% endfor %}
    {% else %}
    <div class="carousel-item active">
      {% if species == 'dog' %}
      <img class="d-block w-100" src="{{ url_for('static', filename='uploads/images/dog.png') }}">
      {% elif species == 'cat' %}
      <img class="d-block w-100" src="{{ url_for('static', filename='uploads/images/cat.png') }}">
      {% endif %}
    </div>
    {% endif %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script>
  init_array = [];
  work_array = [];

  {% for pic in animal.pictures %}
  init_array.push("{{ pic }}")
  work_array.push("{{ pic }}")
  {% endfor %}

  $('.carousel').carousel()

  function backup_dog() {
      document.getElementById('photo{{ animal.id }}').src = "{{ url_for('static', filename='uploads/images/dog.png') }}";
      document.getElementById('photo{{ animal.id }}').onerror = "this.onerror=null";
  }

  function backup_cat() {
      document.getElementById('photo{{ animal.id }}').src = "{{ url_for('static', filename='uploads/images/cat.png') }}";
      document.getElementById('photo{{ animal.id }}').onerror = "this.onerror=null";
  }

  function edit_popup_images() {
      var id, url, modal, cancel;
      modal = document.getElementById("image_modal");
      modal.style.display = "block";
      cancel = document.getElementById("cancel");
      cancel.onclick = function() {
	  window.location.reload(false); 
	  modal.style.display = "none";
	  work_array = init_array
      }
  }

  function del_image(btn) {
      var id, index;
      id = this.document.activeElement.value;
      index = work_array.indexOf(id);
      work_array.splice(index, 1);
      $(btn).closest('tr').detach();
  }

  function update_images(btn) {
      // Update the image array with the new one in case of delete
      document.getElementById("pictures").value = work_array;
  }

</script>

<form class="form-style" action=/{{species}}s method="post">
  <div align="right">
    <button class="btn-emoji" id="image_modal" type="button" onclick="edit_popup_images()">
      <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
    </button>
  </div>
  <fieldset>
    <input name="id" type="hidden" value="{{ animal.id }}">
    <legend>Identité</legend>
    <label for="name">Nom</label>
    <input name="name" type="text" value="{{ animal.name }}">
    <label for="bdate">Date de naissance</label>
    <input name="bdate" type="date" value="{{ animal.birth_date.isoformat() }}"></br>
    <label for="adate">Date d'arrivée</label>
    <input name="adate" type="date" value="{{ animal.arrival_date.isoformat() }}"></br>
    <label for="gender">Sexe</label>
    <select name="gender">
      <option value="1" {% if animal.gender == 1 %} selected {% endif %}>Femelle</option>
      <option value="2" {% if animal.gender == 2 %} selected {% endif %}>Male</option>
      <option value="0" {% if animal.gender == 0 %} selected {% endif %}>Non connu</option>
    </select></br>
    <label for="implant">Nº ICAD</label>
    <input type="text" name="implant" value="{{ animal.implant }}">
  </fieldset>
  <fieldset>
    <legend>Caractéristiques</legend>
    <label for="breed">Race</label>
    <input type="text" name="breed" value="{{ animal.breed }}"><br>
    <label for="color">Couleur</label>
    <input type="text" name="color" value="{{ animal.color }}"><br>

    {% if species == "dog" %}
    <label for="ok_cats">OK Chats</label>
    <input name="ok_cats" type="checkbox" value="1"
	   {% if animal.ok_cats == 1 %} checked {% endif %}/><br>
    <label for="category">Catégorie</label>
    <select name="category">
      <option value="0" {% if animal.category == 0 %} selected {% endif %}>Non catégorisé</option>
      <option value="1" {% if animal.category == 1 %} selected {% endif %}>Catégorie nº1</option>
      <option value="2" {% if animal.category == 2 %} selected {% endif %}>Catégorie nº2</option>
    </select><br>
    {% endif %}

    <label for="char">Caractère</label>
    <textarea name="char">{{ animal.character }}</textarea><br>
    <label for="history">Historique</label>
    <textarea name="history">{{ animal.history }}</textarea><br>
  </fieldset>
  <fieldset>
    <legend>Santé</legend>
    <label for="neutered">Stérilisé</label>
    <input name="neutered" type="checkbox" value="1"
	   {% if animal.neutered == 1 %} checked {% endif %}/><br>
    {% if species == "cat" %}
    <label for="fiv">FiV</label>
    <input name="fiv" type="checkbox" value="1"
	   {% if animal.has_fiv == 1 %} checked {% endif %}/><br>
    <label for="felv">FelV</label>
    <input name="felv" type="checkbox" value="1"
	   {% if animal.has_felv == 1 %} checked {% endif %}/><br>
    {% endif %}

  </fieldset>

  <div class="validate">
    <input class="submit" type="submit" value="Valider">
  </div>
  <div class="cancel">
    <button class="submit" type="button" id="cancel" onclick="window.location.href='/{{species}}s'">Annuler</button>
  </div>

</form>
