<link href="{{ url_for('static', filename='table.css') }}" rel="stylesheet" type="text/css" />
{% include 'header.html' %}

<title>Liste chats</title>

<h1>Liste des chats</h1>

<p>
  <table>
    <tr><th>Nom</th><th>Arrivée</th><th>Genre</th><th>Stérilisé</th>
      <th> État</th><th>FelV</th><th>FiV</th><th>Localisation</th></tr>

    {% for cat in cats %}
    <tr class="table-row" data-href="cat">
      <td style="display:none;">{{ cat.id }}</td>
      <td>{{ cat.name }}</td>
      <td>{{ cat.arrival_date }}</td>
      <td class="emoji">
	{% if cat.gender == 2 %} <i class="fa fa-mars" aria-hidden="true"></i>
	{% elif cat.gender == 1 %} <i class="fa fa-venus" aria-hidden="true"></i>
	{% else %}
	<i class="fa fa-genderless" aria-hidden="true"></i>
	{% endif %}
      </td>
      <td class="emoji">
	{% if cat.neutered == 1 %} <i class="fa fa-check-square-o" aria-hidden="true"></i>
	{% else %} <i class="fa fa-times" aria-hidden="true"></i>
	{% endif %}
      </td>
      <td>{{ cat.latest_sheet.state.label if cat.latest_sheet != None }}</td>
      <td class="emoji">
	{% if cat.has_fiv %} <i class="fa fa-medkit" aria-hidden="true"></i>
	{% else %} <i class="fa fa-thumbs-up" aria-hidden="true"></i>
	{% endif %}
      </td>
      <td class="emoji">
	{% if cat.has_felv %} <i class="fa fa-medkit" aria-hidden="true"></i>
	{% else %} <i class="fa fa-thumbs-up" aria-hidden="true"></i>
	{% endif %}
      </td>
      <td>
	{% if cat.latest_sheet == None %}
	{% elif cat.latest_sheet.location.location_type == 0 %}
	{{cat.latest_sheet.location.box.label}}
	{% elif cat.latest_sheet.location.location_type == 1 %} Vétérinaire
	{% elif cat.latest_sheet.location.location_type == 2 %} FA
	{% elif cat.latest_sheet.location.location_type == 3 %} Autre
	{% endif %}
    </tr>
    {% endfor %}

  </table>

  <form action="/cats/new_cat" method="get">
    <button class="button" type="submit">Nouveau chat</button>
  </form>

</p>
