<link href="{{ url_for('static', filename='table.css') }}" rel="stylesheet" type="text/css" />

{% include 'header.html' %}

<title>Liste chiens</title>

<h1>Liste des chiens</h1>

<p>
  <table id="animals">
    <tr><th>Nom</th><th>Arrivée</th><th>Genre</th><th>Stérilisé</th>
      <th> État</th><th>OK chats</th><th>Localisation</th></tr>

    {% for dog in dogs %}
    <tr class="table-row" data-href="dog">
      <td style="display:none;">{{ dog.id }}</td>
      <td>{{ dog.name }}</td>
      <td>{{ dog.arrival_date }}</td>
      <td class="emoji">
	{% if dog.gender == 2 %} <i class="fa fa-mars" aria-hidden="true"></i>
	{% elif dog.gender == 1 %} <i class="fa fa-venus" aria-hidden="true"></i>
	{% endif %}
      </td>
      <td class="emoji">
	{% if dog.neutered == 1 %} <i class="fa fa-check-square-o" aria-hidden="true"></i>
	{% else %} <i class="fa fa-times" aria-hidden="true"></i>
	{% endif %}
      </td>
      <td>{{ dog.latest_sheet.state }}</td>
      <td class="emoji">
	{% if dog.ok_cats %} <i class="fa fa-paw" aria-hidden="true"></i>
	{% else %} <i class="fa fa-times" aria-hidden="true"></i>
	{% endif %}
      </td>
      <td>{{ dog.latest_sheet.localization }}</td>
    </tr>
    {% endfor %}

  </table>

  <form action="/dogs/new_dog" method="get">
    <button class="button" type="submit">Nouveau chien</button>
  </form>

</p>
