<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>

<link href="{{ url_for('static', filename='common.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='tab.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

<header>
  <div>
    <img class="logo" src="{{ url_for('static', filename='uploads/images/logo.png')}}" align="center">
  </div>
</header>

<div class="navbar">
  <a href="/home">Accueil</a>
  <a href="/dogs">Chiens</a>
  <a href="/cats">Chats</a>
  <a href="/plan">Refuge</a>
  <a href="/print">Fiches</a>
  <div class="dropdown">
    <button class="dropbtn">Administration
      <i class="fa fa-caret-down"></i>
      </button>
    <div class="dropdown-content">
      <a href="/cares">Soin</a>
      <a href="/foods">Alimentation</a>
      <a href="/boxes">Box</a>
      <a href="/states">État</a>
    </div>
  </div>
</div>

<script>

  $(document).ready(function($) {
      $(document.body).on("click", "tr[data-href]", function() {
	  var row = $(this).find('td:first').text();
	  window.location.href = this.dataset.href+"/"+row;
      });
  });

</script>
