<label for="img">Photos</label>
<input type="file" id="img" name="img" multiple accept="image/*">
<label for="adate">Date d'arrivée</label>
<input type="date" name="adate" required>
<label for="name">Nom</label>
<input type="text" name="name" required>
<label for="bdate">Date de naissance</label>
<input type="date" name="bdate">
<span class="validity"></span>
<label for="name">Sexe</label>
<select name="gender">
  <option value="" disabled selected>Choix du sexe</option>
  <option value="1">Femelle</option>
  <option value="2">Male</option>
  <option value="0">Non connu</option>
</select>
<label for="implant">Nº ICAD</label>
<input type="text" name="implant">
<label for="breed">Race</label>
<input type="text" name="breed">
<label for="color">Couleur</label>
<input type="text" name="color">
<label for="neutered">Stérilisé</label>
<input name="neutered" type="checkbox" value="1"/>
<label for="char">Caractère</label>
<textarea name="char" rows=3></textarea>
<label for="history">Historique</label>
<textarea name="history" rows="3"></textarea>
