{% include 'header.html' %}

<link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<style>
  input[type=text],
  input[type=date],
  input[type=checkbox],
  textarea,
  select
  {
      border: 1px solid lightgrey;
      border-radius: 5px;
  }
</style>

<title>Nouveau chien</title>

<form class="form-style" action="/dogs" method="post" enctype="multipart/form-data">

  <fieldset>
    <legend>Nouveau chien</legend>
    {% include 'new.html' %}
    <label for="ok_cats">OK Chats</label>
    <input name="ok_cats" type="checkbox" value="1"/>
    <label for="category">Catégorie</label>
    <select name="category">
      <option value="" disabled selected>Nº de catégorie</option>
      <option value="0">Non catégorisé</option>
      <option value="1">Catégorie nº1</option>
      <option value="2">Catégorie nº2</option>
    </select>

    <div class="validate">
      <input class="submit" type="submit" value="Valider">
    </div>
    <div class="cancel">
      <button class="submit" type="button" id="cancel" onclick="window.location.href='/dogs'">Annuler</button>
    </div>
  </fieldset>

</form>
